<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Party_Buffalo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <Party_Buffalo.Properties.Settings>
        <setting name="loadSTFS" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="loadTIDNames" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="view" serializeAs="String">
          <value>Tile</value>
        </setting>
        <setting name="Upgraded" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SaveIcons" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="width" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="height" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="loadEntireDrive" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="treeViewIconWidthHeight" serializeAs="String">
          <value>16</value>
        </setting>
        <setting name="latestNewsLastShown" serializeAs="String">
          <value>2011-06-01</value>
        </setting>
        <setting name="loadedAd" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="quickAddMode" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="cacheContentIcons" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="columnClicked" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="checkForUpdates" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="loadLatestNews" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="hideToolBar" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="hideAddressBar" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="hideStatusBar" serializeAs="String">
          <value>False</value>
        </setting>
      </Party_Buffalo.Properties.Settings>
    </userSettings>
</configuration>